asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
cloudinary==1.33.0
Django==3.2.5
django-bootstrap4==3.0.1
djangorestframework==3.12.4
PyJWT==2.3.0
python-dotenv==1.0.0
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
urllib3==1.26.16
